.DuiButton#ft_test_button {
    minsize: size(40, 40);  
    maxsize: size(1000, 1000);                                   
    preferredsize: size(100, 100);                                   

}


        
























