MButtonStyle {
    minimum-size: 20 20;
    maximum-size: 400 400;
    preferred-size: 100 100;
}

MButtonStyle#ft_test_button {
    minimum-size: 20 20;
    maximum-size: 400 400;
    preferred-size: 100 100;
    background-image: "meegotouch-viewmenubuttons";
}

MButtonStyle#button2 {
    background-image: "meegotouch-button";
}

MButtonStyle#buttonNotBoxed {
    horizontal-box-edge-percent: 0;                                                      
}

MButtonStyle#buttonBoxed {
    horizontal-box-edge-percent: 10;                                                      
}

        
























