*.qm
moc_*
gen_*
*.o
*.gcno
Makefile
*.so
*.so.*

# vim swap files
.*.swp
BUILD_ID
Makefile
doc/html
lib/*
.moc
.obj
.*.swp
*.o
testdui
*~
*.tmp
*moc_*
*.log
*.log.xml
YES
*-stamp
*.gcov
*.log.xml
*.deb
*.gcno
*.old
*.foo
*.gcda
*.pro.user
*.app
.DS_Store
.dummy
cscope.files
cscope.out
.gen
build-i386
build-armel
.qmake.cache
mmoc/mmoc
*.pc
*.pro.shared
