[Desktop Entry]
Type=DUIApplicationExtension
Name=DemoExtension2

[X-DUI]
DUIApplicationExtension-Interface=com.nokia.dui.core.DemoApplicationExtensionInterface/1.0
DUIApplicationExtension-Extension=libdemoextension2.so
