[Desktop Entry]
Type=Application
Name=Widgets Gallery
Icon=icon-l-video
Exec=widgetsgallery
X-Maemo-Service=com.nokia.widgetsgallery
OnlyShowIn=X-MeeGo;
