[Desktop Entry]
Type=Application
Name=Chaining Example App1
Icon=icon-l-video
X-Maemo-Service=com.nokia.chainingexampleapp1
Exec=chainingexampleapp1
Categories=Demos;
OnlyShowIn=X-DUI;
