[Desktop Entry]
Type=Application
Name=1-Chaining Example App
Icon=icon-l-video
X-Maemo-Service=com.nokia.chainingexampleapp1
Exec=/usr/bin/invoker --type=m /usr/bin/chainingexampleapp1
OnlyShowIn=X-MeeGo;
