[Desktop Entry]
Type=Application
Name=2-Chaining Example App
Icon=icon-l-video
X-Maemo-Service=com.nokia.ChainingExampleApp2
Exec=chainginexampleapp2
OnlyShowIn=X-MeeGo;
