[Desktop Entry]
Type=Application
Name=Chaining Example App2
Icon=icon-l-video
X-Maemo-Service=com.nokia.ChainingExampleApp2
Exec=chainginexampleapp2
OnlyShowIn=X-MeeGo;
