[D-BUS Service]
Name=com.nokia.chainingexampleapp2
Interface=com.nokia.ChainingExampleInterface
Exec=/usr/bin/invoker --type=m /usr/bin/chainingexampleapp2
