MApplicationWindowStyle {
    floatable-tool-bar: false;
    floatable-tab-bar: true;
}

MApplicationWindowStyle.Landscape {
    floatable-tool-bar: true;
    floatable-tab-bar: false;
}

MApplicationWindowStyle.Portrait {
    floatable-tool-bar: false;
    floatable-tab-bar: true;
}

MNavigationBarStyle {
    has-title: false;
    has-close-button: false;
}

MNavigationBarStyle#closebtn {
    has-title: false;
    has-close-button: true;
}

MNavigationBarStyle#title {
    has-title: true;
    has-close-button: false;
}

MNavigationBarStyle#title_closebtn {
    has-title: true;
    has-close-button: true;
}
