libdui-dev
libdui-tests
*.debhelper
*.substvars
libdui0
libdui-doc
libdui0-dbg
libdui-l10n-ar
libdui-l10n-de
libdui-l10n-en
libdui-l10n-engineering-english
libdui-l10n-fi
libdui-l10n-ur
libdui-l10n-zh-cn
libdui-benchmarks
tmp
files
dui-demos
dui-demos-eternia
dui-demos-imageviewer
dui-demos-widgetsgallery
dui-demos-widgetsgallery-dbg
dui-demos-widgetsgallery-tests
dui-demos-widgetsgallery-l10n-ar
dui-demos-widgetsgallery-l10n-de
dui-demos-widgetsgallery-l10n-en
dui-demos-widgetsgallery-l10n-engineering-english
dui-demos-widgetsgallery-l10n-fi
dui-demos-widgetsgallery-l10n-hu
dui-demos-widgetsgallery-l10n-ur
dui-demos-widgetsgallery-l10n-zh-cn
dui-demos-appletinstallationsource
dui-demos-appletinstallationsource-dbg
dui-dev-tools
dui-demos-plainqt-dbg
dui-demos-plainqt
dui-im-context

