libmeegotouch-dev
libmeegotouch-tests
libmeegotouch-tests-dbg
*.debhelper
*.substvars
libmeegotouch-bin-dbg
libmeegotouch-bin
libmeegotouchcore0-dbg
libmeegotouchcore0
libmeegotouchextensions0-dbg
libmeegotouchextensions0
libmeegotouchsettings0-dbg
libmeegotouchsettings0
libmeegotouchviews0-dbg
libmeegotouchviews0
libmeegotouch-doc
libmeegotouch-l10n-ar
libmeegotouch-l10n-de
libmeegotouch-l10n-en
libmeegotouch-l10n-engineering-english
libmeegotouch-l10n-fi
libmeegotouch-l10n-hu
libmeegotouch-l10n-ur
libmeegotouch-l10n-zh-cn
libmeegotouch-benchmarks
libmeegotouch-benchmarks-dbg
tmp
files
meegotouch-demos
meegotouch-demos-applicationextension
meegotouch-demos-applicationextension-dbg
meegotouch-demos-imageviewer
meegotouch-demos-widgetsgallery
meegotouch-demos-widgetsgallery-dbg
meegotouch-demos-widgetsgallery-tests
meegotouch-demos-widgetsgallery-l10n-ar
meegotouch-demos-widgetsgallery-l10n-de
meegotouch-demos-widgetsgallery-l10n-en
meegotouch-demos-widgetsgallery-l10n-engineering-english
meegotouch-demos-widgetsgallery-l10n-fi
meegotouch-demos-widgetsgallery-l10n-hu
meegotouch-demos-widgetsgallery-l10n-ur
meegotouch-demos-widgetsgallery-l10n-zh-cn
meegotouch-demos-appletinstallationsource
meegotouch-demos-appletinstallationsource-dbg
meegotouch-dev-tools
meegotouch-dev-tools-dbg
meegotouch-im-context
meegotouch-qt-style
meegotouch-qt-style-dbg
meegotouch-examples
meegotouch-examples-dbg
