Source: libmeegotouch
Section: libs
Priority: extra
Maintainer: Tomas Junnonen <tomas.junnonen@nokia.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.6.0), libicu-dev, libx11-dev, doxygen (>=1.5.9), libgconf2-dev, libcontextsubscriber-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev, libgles2-sgx-img-dev [arm armel], opengles-sgx-img-common-dev [arm armel], libgl-dev [i386], libgl1 [i386], libqt4-opengl-dev, pkg-config (>= 0.22), libxdamage-dev, xsltproc
Standards-Version: 3.7.2

Package: libmeegotouchcore0
Architecture: any
Depends: ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}, libmeegotouch-bin (= ${Source-Version}), libmeegotouch-l10n-engineering-english (= ${Source-Version}), dbus-x11, meegotouchtheme (>= 0.20.0~)
Suggests: libmeegotouch-l10n-ar, libmeegotouch-l10n-de, libmeegotouch-l10n-en, libmeegotouch-l10n-fi, libmeegotouch-l10n-hu, libmeegotouch-l10n-ur, libmeegotouch-l10n-zh-cn
Description: MeeGo Touch core library
 MeeGo Touch core framework library

Package: libmeegotouchextensions0
Architecture: any
Depends: ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: MeeGo Touch extensions library
 MeeGo Touch extensions framework library

Package: libmeegotouchsettings0
Architecture: any
Depends: ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: MeeGo Touch settings library
 MeeGo Touch settings framework library

Package: libmeegotouchviews0
Architecture: any
Depends: ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: MeeGo Touch views library
 MeeGo Touch views framework library

Package: libmeegotouch-bin
Architecture: any
Depends: ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: MeeGo Touch binary files
 Binary files of MeeGo Touch framework

Package: libmeegotouch-dev
Section: devel
Architecture: any
Depends: libmeegotouchcore0 (= ${Source-Version}), libmeegotouchextensions0 (= ${Source-Version}), libmeegotouchsettings0 (= ${Source-Version}), libmeegotouchviews0 (= ${Source-Version}), meegotouch-dev-tools (=${Source-Version}), libqt4-dev (>= 4.6.0), libx11-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev, libgconf2-dev, libcontextsubscriber-dev, libxdamage-dev
Description: MeeGo Touch development files
 Development files for MeeGo Touch

Package: meegotouch-dev-tools
Section: devel
Architecture: any
Depends: ${shlibs:Depends}
Suggests: perl (>= 5.10.0)
Description: MeeGo Touch specific development and testing tools
 Collection of tools for testing and developing on top of MeeGo Touch. Includes 
 stuff like applettester and code/mock generation.

Package: meegotouch-demos
Section: devel
Architecture: any
Depends: meegotouch-demos-widgetsgallery, meegotouch-demos-plainqt
Description: Demo applications for MeeGo Touch
 Collection of demo applications for MeeGo Touch

Package: meegotouch-demos-widgetsgallery
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, meegotouch-demos-widgetsgallery-l10n-engineering-english (= ${Source-Version})
Suggests: meegotouch-demos-widgetsgallery-l10n-ar, meegotouch-demos-widgetsgallery-l10n-de, meegotouch-demos-widgetsgallery-l10n-en, meegotouch-demos-widgetsgallery-l10n-fi, meegotouch-demos-widgetsgallery-l10n-ur, meegotouch-demos-widgetsgallery-l10n-zh-cn
Conflicts: dui-demos-widgetsgallery
Replaces: dui-demos-widgetsgallery
Description: Demo application for MeeGo Touch

Package: meegotouch-demos-widgetsgallery-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, duitestrunner, meegotouch-demos-widgetsgallery (= ${Source-Version})
Description: Demo application for MeeGo Touch

Package: meegotouch-demos-widgetsgallery-dbg
Section: devel
Architecture: any
Depends: meegotouch-demos-widgetsgallery (= ${Source-Version})
Conflicts: dui-demos-widgetsgallery-dbg
Replaces: dui-demos-widgetsgallery-dbg
Description: Demo application for MeeGo Touch
 This package contains debug symbols.

Package: meegotouch-demos-widgetsgallery-l10n-engineering-english
Section: devel
Architecture: any
Enhances: meegotouch-demos-widgetsgallery
Description: Engineering English translations for widgetsgallery

Package: meegotouch-demos-widgetsgallery-l10n-ar
Section: devel
Architecture: any
Enhances: meegotouch-demos-widgetsgallery
Description: Arabic translations for widgetsgallery

Package: meegotouch-demos-widgetsgallery-l10n-de
Section: devel
Architecture: any
Enhances: meegotouch-demos-widgetsgallery
Description: German translations for widgetsgallery

Package: meegotouch-demos-widgetsgallery-l10n-en
Section: devel
Architecture: any
Enhances: meegotouch-demos-widgetsgallery
Description: English translations for widgetsgallery

Package: meegotouch-demos-widgetsgallery-l10n-fi
Section: devel
Architecture: any
Enhances: meegotouch-demos-widgetsgallery
Description: Finnish translations for widgetsgallery

Package: meegotouch-demos-widgetsgallery-l10n-hu
Section: devel
Architecture: any
Enhances: meegotouch-demos-widgetsgallery
Description: Hungarian translations for widgetsgallery

Package: meegotouch-demos-widgetsgallery-l10n-ur
Section: devel
Architecture: any
Enhances: meegotouch-demos-widgetsgallery
Description: Urdu translations for widgetsgallery

Package: meegotouch-demos-widgetsgallery-l10n-zh-cn
Section: devel
Architecture: any
Enhances: meegotouch-demos-widgetsgallery
Description: Simplified Chinese translations for widgetsgallery

Package: meegotouch-demos-plainqt
Section: devel
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: dui-demos-plainqt
Replaces: dui-demos-plainqt
Description: Demo applications showing the capabilities of the plain qt style.

Package: meegotouch-demos-plainqt-dbg
Section: devel
Architecture: any
Depends: meegotouch-demos-plainqt (= ${Source-Version})
Conflicts: dui-demos-plainqt-dbg
Replaces: dui-demos-plainqt-dbg
Description: debug symbols of the plain qt examples

Package: meegotouch-demos-appletinstallationsource
Section: devel
Architecture: any
Depends: ${shlibs:Depends}
Description: Demo applet installation source for the applet library.

Package: meegotouch-demos-appletinstallationsource-dbg
Section: devel
Architecture: any
Depends: meegotouch-demos-appletinstallationsource (= ${Source-Version})
Description: Debug symbols of the demo applet installation source.

Package: meegotouch-demos-applicationextension
Section: devel
Architecture: any
Depends: ${shlibs:Depends}
Description: Demo application for application extensions

Package: meegotouch-demos-applicationextension-dbg
Section: devel
Architecture: any
Depends: meegotouch-demos-applicationextension (= ${Source-Version})
Description: Debug symbols of the demo application for application extensions

Package: libmeegotouch-tests
Section: extra
Architecture: any
Depends: ${shlibs:Depends}, testrunner, locales
Description: libmeegotouch unit tests
 Unit testing binaries and shellscripts for testing libmeegotouch library

Package: libmeegotouch-benchmarks
Section: extra
Architecture: any
Depends: ${shlibs:Depends}, meegotouch-demos-widgetsgallery
Description: libmeegotouch benchmarks
 Benchmarking binaries for testing libmeegotouch library

Package: libmeegotouchcore0-dbg
Architecture: any
Section: devel
Depends: libmeegotouchcore0 (= ${Source-Version})
Description: libmeegotouch debug package
 libmeegotouch debug symbols.

Package: libmeegotouchviews0-dbg
Architecture: any
Section: devel
Depends: libmeegotouchviews0 (= ${Source-Version})
Description: libmeegotouch debug package
 libmeegotouch debug symbols.

Package: libmeegotouchextensions0-dbg
Architecture: any
Section: devel
Depends: libmeegotouchextensions0 (= ${Source-Version})
Description: libmeegotouch debug package
 libmeegotouch debug symbols.

Package: libmeegotouchsettings0-dbg
Architecture: any
Section: devel
Depends: libmeegotouchsettings0 (= ${Source-Version})
Description: libmeegotouch debug package
 libmeegotouch debug symbols.

Package: libmeegotouch-bin-dbg
Architecture: any
Section: devel
Depends: libmeegotouch-bin (= ${Source-Version})
Description: libmeegotouch debug package
 libmeegotouch debug symbols.

Package: libmeegotouch-doc
Section: doc
Architecture: all
Description: API documentation for libmeegotouch

Package: libmeegotouch-l10n-engineering-english
Section: devel
Architecture: any
Enhances: libmeegotouchcore0
Description: Engineering English translations for libmeegotouch

Package: libmeegotouch-l10n-ar
Section: devel
Architecture: any
Enhances: libmeegotouchcore0
Description: Arabic translations for libmeegotouch

Package: libmeegotouch-l10n-de
Section: devel
Architecture: any
Enhances: libmeegotouchcore0
Description: German translations for libmeegotouch

Package: libmeegotouch-l10n-en
Section: devel
Architecture: any
Enhances: libmeegotouchcore0
Description: English translations for libmeegotouch

Package: libmeegotouch-l10n-fi
Section: devel
Architecture: any
Enhances: libmeegotouchcore0
Description: Finnish translations for libmeegotouch

Package: libmeegotouch-l10n-hu
Section: devel
Architecture: any
Enhances: libmeegotouchcore0
Description: Hungarian translations for libmeegotouch

Package: libmeegotouch-l10n-ur
Section: devel
Architecture: any
Enhances: libmeegotouchcore0
Description: Urdu translations for libmeegotouch

Package: libmeegotouch-l10n-zh-cn
Section: devel
Architecture: any
Enhances: libmeegotouchcore0
Description: Simplified Chinese translations for libmeegotouch
