DuiAbstractLayoutPolicyStyle {
    margin-left: 0.0;
    margin-right: 0.0;
    margin-top: 0.0;
    margin-bottom: 0.0;
    vertical-spacing: 10.0;
    horizontal-spacing: 10.0;
}
DuiAbstractLayoutPolicyStyle#packed {
    margin-left: 0.0;
    margin-right: 0.0;
    margin-top: 0.0;
    margin-bottom: 0.0;
    vertical-spacing: 0.0;
    horizontal-spacing: 0.0;
}
DuiAbstractLayoutPolicyStyle#spacing {
    margin-left: 0.0;
    margin-right: 0.0;
    margin-top: 0.0;
    margin-bottom: 0.0;
    vertical-spacing: 10.0;
    horizontal-spacing: 10.0;
}
DuiAbstractLayoutPolicyStyle#margins {
    margin-left: 10.0;
    margin-right: 10.0;
    margin-top: 10.0;
    margin-bottom: 10.0;
    vertical-spacing: 0.0;
    horizontal-spacing: 0.0;
}
DuiAbstractLayoutPolicyStyle#spacing+margins {
    margin-left: 10.0;
    margin-right: 10.0;
    margin-top: 10.0;
    margin-bottom: 10.0;
    vertical-spacing: 10.0;
    horizontal-spacing: 10.0;
}
#wgToggleButton {
    minimum-size: 150 56;
    preferred-size: 150 56;
    maximum-size: 150 56;
    font: "Nokia Sans" 16px;
}
#wgPushButton {
    minimum-size: 56 56;
    maximum-size: 56 56;
    text-color: #8FAFFF;
    press-feedback: press-space;
    release-feedback: release-space;
    font: "Nokia Sans" 48px;
}
#myLabelMultiLength {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    minimum-size: 50 50;
    maximum-size: 200 50;
    color: #FFFFFF;
    font: "Nokia Sans" 16px;
}

DuiImageStyle {
    preferred-size: 50 50;
    minimum-size: 0 0;
    maximum-size: 100 100;
}
DuiImageStyle#blue {
    minimum-size: 40 40;
}
DuiImageStyle#new {
}

DuiBasicLayoutAnimationStyle {
    geometry-easing-curve: inoutback;
    opacity-easing-curve: inoutback;

    /* inherited from DuiLayoutAnimationStyle */
    duration: 1000;
}

