MToolbarStyle {
    capacity: 4;
    has-icons: true;
    has-labels: false;
    label-only-as-common-button: true;

    label-only-common-button-style-name: "ToolBarLabelOnlyCommonButton";
    label-only-button-style-name: "ToolBarLabelOnlyButton";
    icon-button-style-name: "ToolBarIconButton";
    icon-label-button-style-name: "ToolBarIconButton";
}

MToolbarStyle.Landscape {
    capacity: 4;
    has-icons: true;
    has-labels: false;
}

MToolbarStyle.Portrait {
    capacity: 3;
    has-icons: false;
    has-labels: true;
}

MToolbarTabStyle {
    capacity: 4;
    has-icons: true;
    has-labels: true;
    label-only-as-common-button: false;
}

MToolbarTabStyle.Landscape {
    capacity: 4;
    has-icons: true;
    has-labels: true;
}

MToolbarTabStyle.Portrait {
    capacity: 5;
    has-icons: true;
    has-labels: true;
}
