[Desktop Entry]
Type=X-MeeGoApplicationExtension
Name=DemoExtension

[X-MeeGoApplicationExtension]
Interface=com.meego.core.DemoApplicationExtensionInterface/1.0
Extension=libapplicationextensiondemo-demoextension.so
