#item {
    font: "Nokia Sans Wide" 21px;
    background-color: #eeeeee;
    preferred-size: 85 85;
}
#flowonly {
    font: "Nokia Sans Wide" 21px;
    background-color: #303030;
    preferred-size: 85 85;
}
