MLayoutStyle {
    margin-left: 0.0;
    margin-top: 0.0;
    margin-right: 0.0;
    margin-bottom: 0.0;
}
MAbstractLayoutPolicyStyle {
    margin-left: -1.0;
    margin-top: -1.0;
    margin-right: -1.0;
    margin-bottom: -1.0;
    vertical-spacing: 6.0;
    horizontal-spacing: 7.0;
}
MAbstractLayoutPolicyStyle#packed {
    margin-left: -1.0;
    margin-top: 0.0;
    margin-right: 0.0;
    margin-bottom: 0.0;
    vertical-spacing: 0.0;
    horizontal-spacing: 0.0;
}
MAbstractLayoutPolicyStyle#spacing {
    margin-left: -1.0;
    margin-top: 0.0;
    margin-right: 0.0;
    margin-bottom: 0.0;
    vertical-spacing: 10.0;
    horizontal-spacing: 11.0;
}
MAbstractLayoutPolicyStyle#margins {
    margin-left: 10.0;
    margin-top: 10.0;
    margin-right: -1.0;
    margin-bottom: 10.0;
    vertical-spacing: 0.0;
    horizontal-spacing: 0.0;
}
MAbstractLayoutPolicyStyle#spacing+margins {
    margin-left: 10.0;
    margin-top: -1.0;
    margin-right: 10.0;
    margin-bottom: 10.0;
    vertical-spacing: 10.0;
    horizontal-spacing: 11.0;
}

MAbstractLayoutPolicyStyle.Portrait {
    margin-left: 4.0;
    margin-top: 5.0;
    margin-right: 2.0;
    margin-bottom: 6.0;
    vertical-spacing: 2.0;
    horizontal-spacing: 3.0;
}
MAbstractLayoutPolicyStyle#packed.Portrait {
    margin-left: 1;
    margin-top: 2;
    margin-right: 3;
    margin-bottom: 4;
    vertical-spacing: 5;
    horizontal-spacing: 6;
}

/* For testing, keep the easing curves simple and the duration very short */
MBasicLayoutAnimationStyle {
    opacity-easing-curve: linear;
    duration: 40;
}

MBasicLayoutAnimationStyle#withoutOpacity {
    animate-opacity: false;
    duration: 40;
}
MBasicLayoutAnimationStyle#withInvalidOpacity {
    initial-showing-opacity: -1;
    final-hiding-opacity: -1;
    duration: 40;
}
